@model VRtour.Lib.Models.BuyRealEstate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BuyRealEstate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VRtourURL" class="control-label"></label>
                <input asp-for="VRtourURL" class="form-control" />
                <span asp-validation-for="VRtourURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City" class="form-control"></select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <select asp-for="Area" class="form-control"></select>
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <select asp-for="Condition" class="form-control"></select>
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlotSizeSquareMeters" class="control-label"></label>
                <input asp-for="PlotSizeSquareMeters" class="form-control" />
                <span asp-validation-for="PlotSizeSquareMeters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfParkingSpaces" class="control-label"></label>
                <input asp-for="NumberOfParkingSpaces" class="form-control" />
                <span asp-validation-for="NumberOfParkingSpaces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBalconies" class="control-label"></label>
                <input asp-for="NumberOfBalconies" class="form-control" />
                <span asp-validation-for="NumberOfBalconies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAirCondition" class="control-label"></label>
                <input asp-for="NumberOfAirCondition" class="form-control" />
                <span asp-validation-for="NumberOfAirCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBedrooms" class="control-label"></label>
                <input asp-for="NumberOfBedrooms" class="form-control" />
                <span asp-validation-for="NumberOfBedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBathrooms" class="control-label"></label>
                <input asp-for="NumberOfBathrooms" class="form-control" />
                <span asp-validation-for="NumberOfBathrooms" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFurnishing" /> @Html.DisplayNameFor(model => model.IsFurnishing)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasPool" /> @Html.DisplayNameFor(model => model.HasPool)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasGarden" /> @Html.DisplayNameFor(model => model.HasGarden)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasElevator" /> @Html.DisplayNameFor(model => model.HasElevator)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAlarm" /> @Html.DisplayNameFor(model => model.HasAlarm)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasFireplace" /> @Html.DisplayNameFor(model => model.HasFireplace)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasPlayroom" /> @Html.DisplayNameFor(model => model.HasPlayroom)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAtticLoft" /> @Html.DisplayNameFor(model => model.HasAtticLoft)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasStorageRoom" /> @Html.DisplayNameFor(model => model.HasStorageRoom)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasSauna" /> @Html.DisplayNameFor(model => model.HasSauna)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
